.cards__item {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 240px;
  align-items: center;
}

.cards__item:nth-of-type(3n+3) {
  margin-left: 0;
  margin-right: 0;
}