@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kaufman__triangle {
  animation: rotation 20s linear infinite;
}

/* или лучше перечислить класссы кауфман__трайэнгл и хэдер__скуэр-пик через запятую но в одном? */

.header__square-pic {
  animation: rotation 20s linear infinite;
}